<div class="grid grid-cols-1 min-h-full" style="grid-template-rows: auto 1fr auto;">

<header>
  <mat-toolbar
  class="flex justify-between"
  >
    <a [routerLink]="''" class="text-2xl">
      <span class="inline-block rotate-80"> |:^<strong>&lbrace;</strong> </span>
      <span> Mustachio <span class="text-xl"> Barber Shop </span> </span>
    </a>
    <nav class="text-xl">
      <ul class="flex flex-row gap-5">
        <li><a [routerLink]="'register'">Register</a></li>
      </ul>
    </nav>
  </mat-toolbar>
</header>

<div class="grid justify-center">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar id="about">
    <span>Desenvolvido por Pedro Ghiotti</span>
  </mat-toolbar>
</footer>

</div>
