<h1> Home </h1>

<table mat-table [dataSource]="userService.findAll()" class="w-xl">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id', 'username']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'username'];"></mat-row>
</table>

<table mat-table [dataSource]="reservationService.findAll()" class="w-xl">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>User ID </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.userId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startsAt">
    <mat-header-cell *matHeaderCellDef> Starts At </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.startsAt}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endsAt">
    <mat-header-cell *matHeaderCellDef> Ends At </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.endsAt}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id', 'userId', 'startsAt', 'endsAt']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'userId', 'startsAt', 'endsAt'];"></mat-row>
</table>
