<mat-card appearance="outlined"
  class="gap-5 w-xl !border-0 !bg-transparent"
>

<mat-card-header>
  <h1 class="text-2xl">Registro</h1>
</mat-card-header>

<mat-card-content>
@if(dataLoaded){
<form (ngSubmit)="onSubmit()" [formGroup]="userEditorForm"
  class="grid gap-2.5"
  style="*{border: 1px solid black}"
>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" [formControlName]="'username'" [id]="'username'">
    <mat-error>
      @if (userEditorForm.get("username")?.hasError('required')) {
        Informe um nome de usuário.
      }
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" [formControlName]="'password'" [id]="'password'">
    <mat-error>
      @if (userEditorForm.get("password")?.hasError('required')) {
        Informe uma senha.
      }
    </mat-error>
  </mat-form-field>

  <button type="submit">Submit ></button>
</form>
}
</mat-card-content>
</mat-card>
