<table mat-table [dataSource]="reservationData" class="w-xl">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>User ID </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.userId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startsAt">
    <mat-header-cell *matHeaderCellDef> Starts At </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.startsAt}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endsAt">
    <mat-header-cell *matHeaderCellDef> Ends At </mat-header-cell>
    <mat-cell *matCellDef="let reservation"> {{reservation.endsAt}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let reservation">
      <ul class="flex flex-row gap-5">
        <li><a [routerLink]="['reservations/edit/', reservation.id]">Edit</a></li>
        <li><a class="cursor-pointer" (click)="deleteReservation(reservation.id)">Delete</a></li>
      </ul>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id', 'userId', 'startsAt', 'endsAt', 'actions']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['id', 'userId', 'startsAt', 'endsAt', 'actions'];"></mat-row>
</table>
